.banner-top {
    position: fixed;
    bottom: 0;
    height: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #d5fcff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
    text-align: center;
}

@-webkit-keyframes rightThenLeft {
    0% {
        left: 0%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}