
.banner-top {

    position: fixed;
    /* top: 0; */
    height: 50px;
    bottom: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #b4bfc0 !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px;
    overflow: hidden;

}


