.interviews {
    padding: 20px;
    /* height: 80vh; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: space-around;

    }


    .heading{
        margin: 30px;
    }


    .columns{
        background-color: #DFF8FA;;
        height: 100%;
        padding: 20px;
    }

