.section-container {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
.interviews {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
.section-heading {
  margin: 30px;
}

.columns {
  background-color: #dff8fa;
  height: 100%;
  padding: 20px;
}




@media screen and (max-width: 450px) {

  .columns{
    padding: 0;
  }
  }