
.heading{
    margin: 30px;
}

.main{
    margin: 0px;
    padding: 2rem;
    /* background-color: rgb(40, 2, 255); */
    width: 100%;
    }
    

.main-left{
   /* background-color: yellow; */
   padding: 20px;
}


.main-left-container {
    /* padding: 50%; */
     height: 50%;
     border-radius: 10px;
     background-position: center;
     background-size: cover;
     border: 20px solid #b1faff;;
     margin-bottom: 20px;



}



.main-right{
    padding: 20px;
    /* height: 80vh; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: space-around;

    }




    /* //////////////////main news CSS ////////////////*/


    .main-news-container-horizontal  {
        

        background: rgba(8, 204, 217, 0.13);
        width: 21rem;
        display: flex;
        border-radius: 7px;
        padding: 25px;
        margin: 20px;
         gap: 20px;

         /* flex-direction: column; */
         /* height: 21rem; */


    }


    .main-news-container-vertical {

        background: rgba(8, 204, 217, 0.13);
        width: 20rem;
        display: flex;
        border-radius: 7px;
        padding: 25px;
        margin: 20px;
        gap: 20px;
        
         flex-direction: column; 
         height: 21rem;


    }

    .white{
        background-color: White;
    }

        


    .mainnews-image{

        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-size: cover;
        flex-basis: 50%;
     
        }


  .mainnews-news{

    flex-basis: 50%;

  }

  .mainnews-news p{
      font-size: 9px;
      text-align: right;
  
  }






    


