/* COLOR TO BE USED FOR NEWS DESCRIPTION - rgb(73, 73, 73); */
html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.invisble {
  display: none;
}
body {
  width: 100%;
  overflow-x: hidden;
}

.top-heading {
  display: flex;
  margin-right: 5%;
}
.top-news {
  transition: all 0.5s ease;
}
.top-heading-filler {
  flex-grow: 1;
}

.top-heading button {
  /* background: #08ccd9; */
  border: 2px solid #08ccd9;
  color: black;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
  font-size: 19px;
  padding: 0px 10px 0px 10px;
  margin: 20px 0px 0px 20px;
  /* border: none; */
  width: 100px;
  height: 42px;
}

.top-heading button:hover {
  background: #08ccd9;
  color: white;
  /* background-color: rgb(202, 202, 202); */
}

.main-heading {
  margin-top: 30px;
  width: fit-content;
  padding-left: 35px;
}

.main {
  margin: 0px;
  padding: 2rem;
  width: 100%;
}

.main-left {
  padding: 20px;
}
.top-news {
  margin-left: 20%;
}

.top-news-heading {
  color: rgb(73, 73, 73);
  margin-bottom: 3vh;
  width: 40vw;
  min-width: 500px;
  font-size: 20px;
}
.main-right-container {
  height: 50vh;
  width: 40vw;
  min-width: 510px;
  max-height: 360px;
  background-position: center;
  background-size: cover;
  border: 10px solid #b1faff;
  border-radius: 10px;
}

/* latest news */
.latest-news {
  /* height: 550px; */
  width: 35vw;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
  margin-left: 35px;
}

.latest-news-heading {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(73, 73, 73, 0.2);
}
.latest-news-item p {
  font-size: 16px;
}
.latest-news-item {
  padding: 12px;
  color: rgb(73, 73, 73);
  border-bottom: 1px solid rgb(73, 73, 73, 0.2);
}

/* .latest-news-btn {
  background-color: white;
  border: none;
  outline: none;
  display: block;
  font-size: 20px;
  color: #08ccd9;
  margin: auto;
  margin-top: 10px;
} */

@media screen and (max-width: 1200px) {
  .main-heading {
    margin-top: 25px;
    padding-left: 25px;
    font-size: 30px;
  }
  .main-right-container {
    height: 43vh;
    width: 36vw;
    min-width: 400px;
    max-height: 300px;
  }
  .top-news-heading {
    width: 480px;
    font-size: 18px;
  }
  .top-news {
    margin-left: 25%;
  }

  .latest-news-item p {
    font-size: 14px;
  }
  .latest-news-item {
    padding: 10px;
  }
  .latest-news-heading {
    font-size: 25px;
  }

  .top-heading button {
    padding: 0px 5px 0px 5px;
    width: 95px;
    height: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .main-heading {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 27px;
  }
  .main-right-container {
    width: 400px;
  }
  .top-news-heading {
    width: 450px;
    font-size: 17px;
  }
  .top-news {
    margin-left: 23%;
  }

  .latest-news-heading {
    font-size: 23px;
  }
}

@media screen and (max-width: 1000px) {
  .top-heading button {
    width: 90px;
  }
}

@media screen and (max-width: 992px) {
  .latest-news {
    display: none;
  }
  .main-left {
    display: none;
  }
  .top-heading button {
    font-size: 18px;
  }

  .top-heading button {
    height: 35px;
  }
}

@media screen and (max-width: 700px) {
  .top-heading button {
    font-size: 17px;
    width: 85px;
  }
}

@media screen and (max-width: 650px) {
  .top-heading button {
    display: none;
  }
}

/* //////////////////main news CSS ////////////// */
@media screen and (max-width: 992px) {
  .main-right-container {
    width: 67vw;
    height: 54vh;
    min-width: 400px;
    max-height: 480px;
  }
  .top-news {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
  }
  .top-news-heading {
    font-size: 19px;
    min-width: 400px;
    width: 60vw;
    /* margin-left: 20px; */
  }
}
@media screen and (max-width: 800px) {
  .top-news-heading {
    font-size: 18px;
    width: 65vw;
  }
  .main-right-container {
    height: 280px;
  }
}
@media screen and (max-width: 700px) {
  .main-right-container {
    width: 74vw;
  }
  .top-news-heading {
    font-size: 17px;
  }
}
@media screen and (max-width: 550px) {
  .main-right-container {
    min-width: 0px;
    width: 400px;
    height: 250px;
  }
  .top-news-heading {
    font-size: 16px;
    min-width: 380px;
  }
}
@media screen and (max-width: 450px) {
  .main-right-container {
    width: 330px;
    height: 200px;
    /* border: 0px; */
  }
  .top-news {
    margin-left: auto;
    margin-right: auto;
  }
  .top-news-heading {
    font-size: 14px;
    width: 310px;
    min-width: 0px;
  }
}

.main-news-container-horizontal {
  background: rgba(8, 204, 217, 0.13);
  width: 450px;
  display: flex;
  border-radius: 7px;
  padding: 25px;
  margin: 20px;
  gap: 20px;

  /* flex-direction: column; */
  /* height: 21rem; */
}

.main-news-container-vertical {
  background: rgba(8, 204, 217, 0.13);
  width: 19rem;
  max-width: 19rem;
  display: flex;
  border-radius: 7px;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  flex-direction: column;
  min-height: 17rem;
 position: relative;

}
.premium{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: 8;
 text-align: right;

  border: 1px solid gold;
  

}
.lock{
  /* display: none; */
  height: 18%;
margin-right: -12px;
margin-top: -18px;

}
.white {
  background-color: White;
}

.mainnews-image {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  background-position: center;
  background-size: cover;
  flex-basis: 60%;
  min-height: 150px;

}

.mainnews-news {
  flex-basis: 10%;
  /* background-color: rgb(218, 25, 153); */
}

.mainnews-news p {
  font-size: 12px;
  margin: 0;
  /* text-align: right; */
  /* font-family: 'News Cycle', sans-serif; */
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 450px) {
  .main-news-container-horizontal {
    flex-direction: column;
  }
}
