
.pages {
  /* color: #316685; */
  color: white;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  margin-top: 10%;
}

.navbar {
  /* background-color: #1f5156; */
  background-color: #08ccd9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 20;
  /* width: 100vw; */
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-logo {
  /* color: #f5b921; */
  color: black;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  /* margin-right: 2rem; */
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav-button-active{
  display: none;
}
.nav-button{
  background: #08ccd9;
  border: 2px solid white;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  width: 95px;
  height: 35px;
  margin: 10px 45px 10px 0;
  /* border: none; */
  }

.nav-button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 20px;
  margin-right: 3rem;
  /* margin: 0 3rem 0 3rem; */
  /* margin-bottom: 2rem; */
  /* background-color: yellow; */
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  /* background-color: red; */
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  justify-content: center;
  /* background: #ffdd40; */
  background-color: rgb(255, 255, 255);
}

.nav-item .active {
  /* color: #ffdd40; */
  color: black;
  border: 1px solid black;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #08ccd9;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 20px;
  }
  .nav-item .active {
    color: rgb(0, 0, 0);
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }

  .nav-item {
    line-height: 40px;
    /* margin-right: 3rem; */
    /* margin: 0 3rem 0 3rem; */
    /* margin-bottom: 2rem; */
    /* background-color: yellow; */
  }

}


@media screen and (max-width: 650px) {

.nav-button-active{
  display: inline;
}

}

/* .nav{
    background-color: #08CCD9;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.nav p{
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.filler{
    flex-grow: 1;
}


.nav p:hover{
    color: rgb(151, 151, 151);

}

 */
