.video-container {
  height: 100vh;
}

.video-display{
  margin: 0 auto;
  max-width: 1000px;
  /* padding: 0px 1.0875rem 1.45rem; */
  padding-top: 0;
  margin-top: 20px;

}
.video-head{
  max-width: 80%;
  display: block;
  margin: auto;
  margin-top: 50px;
}
.video-head h5{
  font-weight: bold;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% ;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4%;
}



.video-content {
  padding: 0px 30px 20px 30px;
  text-align: justify;


}


@media (max-width: 1000px) {

.video-head {
  max-width: 100%;
  padding: 0px 30px 20px 30px;
  font-size: 1rem;
}
}
@media (max-width: 600px) {

  .video-head {
    font-size: 0.85rem;
  }
  .video-display {

    margin-top: 0px;
  
  }
}