.video-container {
  height: 100vh;
}

.video-display{
  margin: 0 auto;
  max-width: 960px;
  /* padding: 0px 1.0875rem 1.45rem; */
  padding-top: 0;

}

.player-wrapper {
  position: relative;
  padding-top: 56.25% ;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4%;
}



.video-content {
  padding: 0px 30px 20px 30px;
  text-align: justify;
}

/* .videoTag {
  height: 100%;
  width: 100%;
  z-index: 20;
} */

